<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Customer Mart - About Us</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!--enable mobile device-->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--fontawesome css-->
      <link rel="stylesheet" href="/static/css/font-awesome.min.css">
      <!--bootstrap css-->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!--animate css-->
      <link rel="stylesheet" href="/static/css/animate-wow.css">
      <!--main css-->
      <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
      <link rel="stylesheet" href="/static/css/slick.min.css">
      <!--responsive css-->
      <link rel="stylesheet" href="/static/css/responsive.css">
   </head>
   <body>
      
      <header id="header" class="top-head">
         <!-- /static navbar -->
         <nav class="navbar navbar-default">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4 col-sm-12 left-rs">
                     <div class="navbar-header">
                        <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        </button>
                        <a href="/" class="navbar-brand"><img src="/static/images/logo.png" alt="" /></a>
                     </div>
                     <form class="navbar-form navbar-left web-sh">
                        <div class="form">
                           <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search for products">
                        </div>
                     </form>
                  </div>
                  <div class="col-md-8 col-sm-12">
                     <div class="right-nav">
                        <div class="login-sr">
                           <div class="login-signup">
                              <ul>
                                 {% if logged_in == False %}
                                 <li><a href="/login/">Login</a></li>
                                 <li><a class="custom-b" href="/register/">Sign up</a></li>
                                 {% else %}
                                 <li><a href="/logout/">Logout</a></li>
                                 {% endif %}
                              </ul>
                           </div>
                        </div>
                        <div class="help-r hidden-xs">
                           <div class="help-box">
                              <ul>
                                 <li> <a href="/cart/"><i class="bi bi-cart4"></i> Cart </a> </li>
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                                 </svg>
                              </ul>
                              
                           </div>
                        </div>
                        <div class="nav-b hidden-xs">
                           <div class="nav-box">
                              <ul>
                                 <li><a href="/about-us/">About</a></li>
                                 <!-- <li><a href="about-us.html">Chamb for Business</a></li> -->
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--/.container-fluid --> 
         </nav>
      </header>
      <!-- Modal -->
      
      <div id="sidebar" class="top-nav">
         <ul id="sidebar-nav" class="sidebar-nav">
            <li><a href="about-us/">About</a></li>
            <li><a href="/cart/">Cart</a></li>
            {% if  logged_in == False %}
            <li><a href="/login/">Login</a></li>
            {% else %}
            <li><a href="/logout/">Logout</a></li>
            {% endif %}
         </ul>
      </div>
      
<center>
   <ul  id="myUL">
     {% for i in productList %}
      <li class="xdata" style="display: none;" ><a href="{{i.1}}">{{i.0}}</a></li>
     {% endfor %}
   </ul>
   </center>
      <div class="main-template-about">
         <div class="section-gradient">
            <div class="map"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="wow fadeIn" data-wow-delay="0.0s">
                        <h1>Expand business.
                           Inspiring you to success.
                        </h1>
                        <p class="lead">Here at Chamb, we want you to find new connections, grow profitable relationships, and make more money than you could ever dream of making. Sound like something you’d like to do? Then what are you reading this for?
                           <br>
                           <br>
                           Go sign up and get inspired!
                        </p>
                     </div>
                     <div class="about-icons row">
                        <div class="col-xs-4 wow fadeIn" data-wow-delay="0.0s"><img src="/static/images/about-icon-1.png" alt=""/></div>
                        <div class="col-xs-4 wow fadeIn" data-wow-delay="0.2s"><img src="/static/images/about-icon-2.png" alt=""/></div>
                        <div class="col-xs-4 wow fadeIn" data-wow-delay="0.4s"><img src="/static/images/about-icon-3.png" alt=""/></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section do">
            <div class="blue-light"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="does-box">
                        <div class="panel-body">
                           <h2>What Does Chamb Do</h2>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                           </p>
                           <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                              voluptatem quia dolore magnam aliquam quaerat voluptatem.
                           </p>
                           <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                              consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel 
                              illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                           </p>
                           <p>We took it upon ourselves to change that. We developed a burning desire to create something to bridge the chasms between 
                              businesses across country and continent. So, with a goal in mind, a skilled team at hand, Chamb sprung forth: the website 
                              that helps discover and build profitable long-lasting networks amongst businesses around the world.
                           </p>
                        </div>
                        <img class="wow fadeIn" src="/static/images/mac-about.png" alt="" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="seciton create">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <h2>Why Create Chamb</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                     </p>
                     <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                        voluptatem quia dolore magnam aliquam quaerat voluptatem.
                     </p>
                     <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                        consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel 
                        illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                     </p>
                     <p>We took it upon ourselves to change that. We developed a burning desire to create something to bridge the chasms between 
                        businesses across country and continent. So, with a goal in mind, a skilled team at hand, Chamb sprung forth: the website 
                        that helps discover and build profitable long-lasting networks amongst businesses around the world.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="section account-box">
            <div class="blue-dark"></div>
            <div class="light-blue-grad"></div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="blue-form">
                        <h2>Start a free account today</h2>
                        <form class="form-inline">
                           <input type="email" placeholder="Enter your e-mail" />
                           <button type="submit" class="btn btn-primary">Continue</button>
                        </form>
                        <p>Easy setup - no payment fees - up to 100 products for free</p>
                        <div class="blue-form_question"><strong>Questions?</strong> Call us on 12 34 56 78 for help.</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section-white">
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <h2>When, Who and Where?</h2>
                     <p>Chamb was born in 2014 and has steadily grown from the seed of an idea into a fully-fledged company that, with the power of the internet, employs people from every corner of the planet.</p>
                     <p>Chamb hails from the Bosporus strait straddling Istanbul. Taking cues from this continent and culture spanning city, we bring people and place together in new and unexpected ways. Chamb may have its roots firmly planted in Turkey, but gaze out across fertile lands of Europe and you’ll see its branches spreading a canopy of connection and possibility across the globe.</p>
                  </div>
                  <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
                     <img class="img-responsive" src="/static/images/lag-60.png" alt="" />
                  </div>
                  <div class="col-lg-8 col-lg-offset-2">
                     <p>Chamb is the brainchild of Bayram Filikci. Danish born with Turkish descent, like the famously business savvy Ottomans of old, Bayram has a flair for creativity and business growth hacking. And along with Chamb’s team, we all count ourselves as passionate entrepreneurs who live for the sole purpose of finding solutions to your problems.</p>
                     <p>After gaining much experience in building business from scratch and nurturing them to fruition, the team set its sights on creating a gateway that could help fledgling companies establish new relationships that will propel them forward to unrivalled riches.</p>
                  </div>
                  <div class="col-lg-8 col-lg-offset-2 wow fadeIn" style="margin-bottom:15px;" data-wow-delay="0.2s">
                     <img src="/static/images/lag-61.png" alt="" />
                  </div>
                  <div class="col-lg-8 col-lg-offset-2">
                     <h2>The ball is now yours.</h2>
                     <p>Over the coming years, the way that business through the web works will change at a great level - and Chamb is the gamebreaker. Customers will expect options of where and how to buy: in-store or online, delivered or for pick-up. It’s an incredibly exciting time for this industry, and we’re going to be right at the centre of it.</p>
                     <p>So what are you waiting for? Sign up and create oppurtinities for your business.</p>
                  </div>
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="row">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                           <div class="rectange">
                              <h3 class="rectange_title">Career opportunities</h3>
                              <p class="rectange_text">We’re growing, and we’re looking for talented people who can make commerce better.</p>
                              <a href="#" class="rectange_link">See open positions</a>
                           </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                           <div class="rectange">
                              <h3 class="rectange_title">Contact us</h3>
                              <p class="rectange_text">Have questions or any requests for us? Contact our team and we will get back to you.</p>
                              <a href="about-us.html" class="rectange_link">Contact Chamb</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <p><img width="90" src="/static/images/logo.png" alt="#" style="margin-top: -5px;" /> All Rights Reserved. Company Name © 2018</p>
                  </div>
                  <div class="col-md-4">
                     <ul class="list-inline socials">
                        <li>
                           <a href="">
                           <i class="fa fa-facebook" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-twitter" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="">
                           <i class="fa fa-instagram" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-linkedin" aria-hidden="true"></i>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <script>

         function myFunction() {
             var input, filter, ul, li, a, i, txtValue;
             input = document.getElementById("myInput");
             filter = input.value.toUpperCase();
             ul = document.getElementById("myUL");
             li = ul.getElementsByTagName("li"); 
             for (i = 0; i < li.length; i++) {
                 a = li[i].getElementsByTagName("a")[0];
                 txtValue = a.textContent || a.innerText;
                 if (txtValue.toUpperCase().indexOf(filter) > -1 && input.value.length!=0) {
                     li[i].style.display = "";
                 } else {
                     li[i].style.display = "none";
                 }
             }
             
         }
         </script>
      <!--main js--> 
      <script src="js/jquery-1.12.4.min.js"></script> 
      <!--bootstrap js--> 
      <script src="js/bootstrap.min.js"></script> 
      <script src="js/bootstrap-select.min.js"></script>
      <script src="js/slick.min.js"></script> 
      <script src="js/wow.min.js"></script>
      <!--custom js--> 
      <script src="js/custom.js"></script>
   </body>
</html>